<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<http>
		<intercept-url pattern="/vip/**" access="ROLE_USUARIO_VIP"/>
		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO" />
		<form-login login-page="/publico/login.jsf"
			always-use-default-target="true" default-target-url="/restrito/principal.jsf"
			authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout/>
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
		
			<jdbc-user-service data-source-ref="digitecDataSource"
				authorities-by-username-query="SELECT f.CPF_FUNCIONARIO, p.PERMISSAO 
											 FROM funcionario f, funcionario_permissao p 
											WHERE f.ID_FUNCIONARIO = p.USUARIO_FUNCIONARIO 
											  AND f.CPF_FUNCIONARIO = ?"
				users-by-username-query="SELECT CPF_FUNCIONARIO, SENHA_FUNCIONARIO, STATUS_FUNCIONARIO 
									   FROM funcionario 
									  WHERE CPF_FUNCIONARIO = ?" />
		</authentication-provider>		
	</authentication-manager>
</b:beans>
